*{
	box-sizing: border-box;
}

#form-inscription label{
	cursor: pointer;
	font-size: 13px;
}

#form-inscription input, button, #form-inscription input::placeholder, #form-inscription select, #form-inscription select option{
	font-size: 14px;
}

.hero-header{
	background-color: #003366;
}

.hero-header h1{
	font-size: 30px;
	text-transform: uppercase;
}

.hero-header ol li{
	font-size: 16px;
	text-transform: capitalize;
}

.footer-section{
	background-color: #003366;
}

.link-social{
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    background-color: #f7f7f7; 
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    margin: 5px;

    color: #003366;
    text-decoration: none;
}

.link-social:hover{
	background-color: #f3f3f3;
	color: #003366;
}

/**/
.actualite .icon-box{
	position: relative;
}

.title-about, .title-about-2{
	display: flex;
	max-width: 200px;
	color: #f7f7f7;
	text-transform: uppercase;
	align-items: center;
	padding: 3px 15px;
	background-color: #003366;
}

.title-about{
	background-color: #003366;
}

.title-about-2{
	width: 140px;
}

.title{
	background-color: #003366;
	width: 300px;
	padding: 3px 15px;
	text-transform: capitalize;
}

.title-2{
	width: 180px;
	padding: 3px 15px;
	text-transform: capitalize;
	margin-top: 10px;
}

.text-list-membre{
	font-size: 18px;
	font-weight: bold;
	margin-right: 15px;
	color: #000033;
}

.item-list-membre{
	margin: 10px 0;
	display: flex;
	font-size: 14px;
	text-align: left;

}

.div-devenir-membre ul{
	padding: 0;
}

.div-devenir-membre ul li{
	font-size: 14px;
}

.div-devenir-membre ul li span{
	font-weight: bold;
	color: #000033;
}

@media (max-width: 792px){
	.para-justify{
		text-align: center;
	}
}

