{% load static %}
<section id="why-us" class="why-us section-bg my-0 py-0 pt-md-4">
      <div class="container" data-aos="fade-up">

       <div class="row">
          <img src="{% static '' %}img/D-P-167.jpg" class="col-md-5 img-about">
        
          <div class="col-md-7 py-4 d-flex flex-column justify-content-center align-items-stretch  order-2 order-md-1">

            <h5 class="title-about text-light">Qui sommes-nous ?</h5>

            <p>L’Association GOOD est un groupe de jeunes qui œuvrent pour la promotion des langues 
              étrangères, des métiers du numérique et le développement du Congo. Elle a été créée le 18 Juin 
              2016 à Brazzaville par denith kinga et est gérée par un groupe de jeunes motivés partageant la même 
              vision.
            </p>

            <h5 class="title-about-2 text-light bg-danger">Notre Vision</h5>

            <p>Nous avons pour mission de créer un monde sans problèmes de langues et d’emplois. Par la 
              promotion des langues étrangères, des métiers du numériques et l’entrepreneuriat
            </p>

            <h5 class="title-about-2 text-light">Notre devise</h5>

            <p>L’association a pour devise : LEARN-EXPERIENCE-TEACH (apprendre - expérimenter –
              enseigner)</p>
            
          </div>

       </div>

      </div>
    </section>