{% load static %}
<section id="why-us" class="why-us section-bg">
      <div class="container" data-aos="fade-up">

       <div class="row">
          <img src="{% static '' %}img/D-P-167.jpg" class="col-md-5 img-about">
        
          <div class="col-md-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-md-1">

            <h5>Notre mission</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

            <h5>Notre expertise</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

            <h5>Notre point de vue</h5>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
            
          </div>

       </div>

      </div>
    </section>