{% load static %}
<section id="why-us" class="why-us section-bg p-0 pb-4 m-0">
      <div class="container" data-aos="fade-up">

       <div class="row">
          <div class="col-md-5">
            <h5 class="title text-light">Pourquoi devenir membre ?</h5>

            <div class="px-0">
                <span class="d-block my-3 text-list-membre">Être membre de GOOD a plusieurs avantages :</span>
                
                <div class="item-list-membre">A l’adhésion, vous avez droit à une formation gratuite d’une langue de votre choix, 
                    d’une carte de membre plus un polo de l’association;</div>

                <div class="item-list-membre">Participer à au plus 3 formations organisées par GOOD, gratuitement (lorsque vos
                    frais statutaires annuels sont payés);</div>
                
                <div class="item-list-membre">Devenir formateur dans nos centres de formation;</div>

                <div class="item-list-membre">Bénéficier de notre accompagnement pour créer ton propre centre de formation;</div>
                
                <div class="item-list-membre">Reduction de 50% des prix sur les produits et services de GOOD et des autres membres;</div>
                 
                
                <div class="item-list-membre">Accompagnement sur vos projets (les plus pertinents);</div>
                <div class="item-list-membre">Participation gratuite à tous les séminaires et conférences organisés par GOOD et ses 
                    membres;</div>
                
            </div>
          </div>
        
          <div class="col-md-7 py-md-4  d-flex flex-column justify-content-center align-items-stretch  order-2 order-md-1">

            <div>
                
                <div class="item-list-membre">Possibilité de communiquer et présenter vos produits pendant nos évènements;</div>
                
                <div class="item-list-membre">Bénéficiez d’un investissement allant jusqu’à 100.000 FCFA pour les membres 
                    simple et jusqu’à 500.000 FCFA pour les membres pleins;</div>
            </div>

            <h5 class="title-2 text-light bg-danger">Devenir Membre</h5>

            <span class="d-block my-1 text-list-membre">Qui peut être membre de l’association GOOD?</span>
            <p>
                Toute personne morale et physique ayant remplie les conditions ci-dessous :
            </p>

            <div class="div-devenir-membre px-3">
                <ul>
                    <li>
                        <span>Frais d’adhésion :</span>
                        5.000 FCFA (membre simple) et 10.000 FCFA (membre plein)
                    </li>
                    <li>Remplir et signer le contrat de membre</li>
                    <li>
                        <span>Cotisation annuelle :</span>
                        20.000 FCFA (membre plein uniquement)
                    </li>
                    <li>Une copie en couleur d’une pièce d’identité (passeport, CNI, carte d’étudiant ou carte 
                        d’élève) </li>

                    <li>
                        <span>Badge :</span> offert
                    </li>
                </ul>
            </div>
            
          </div>

       </div>

      </div>
</section>